@page
@model AutoCenter.Web.Pages.Listings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.Year)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.Color)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Vehicle.BodyType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Listing) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Brand)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.CarModel)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Year)
            </td>
            <td>
                    @* @Html.DisplayFor(modelItem => item.Vehicle.Color) *@
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Mileage)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Vin)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Transmission)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.FuelType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.BodyType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
